@charset "utf-8";
*{
	margin:0;
	padding:0;
}
html{
	overflow:hidden;
}
html,body{
    margin:0;
    padding:0;
	height: 100%;
    display:block;
}
#main{
	width: 980px;
	margin: 0 auto;
}
#main h1{
	line-height: 50px;
	color: #325d72;
	font-weight: bold;
	font-size: 32px;
	margin: 1.5em 0 1em;
	border-bottom: 1px solid #dddddd;
}
#main h2{
	font-size: 23px;
	line-height: 29px;
}
ul li{
	margin:10px 25px;
}
strong{
	font-weight: bold;
}

